<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./link.css" />
    <title>Links</title>
  </head>
  <body>
    <section class="component-container">
      <h1>Links</h1>
      <a href="#" class="link" title="Application Tracking System">
        <span class="link__title">Application Tracking System</span>
      </a>
      <a href="#" class="link" id="current-title" title="Application Tracking System">
        <span class="link__title--current">Application Tracking System</span>
      </a>

    </section>
  </body>
</html>
