@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
:root {
  --main-header-color: #00639A;
  --navigation-header-color: #E7F2FF;
  --link-title-color: #41474D;
  --link--current-color: #00639A;
  --sidelbar-title-color: #41474D;
  --container-sidebar-color: #FCFCFF;
  --sidebar-item-color: #41474D;
  --line-color: #909194;
  --line-top-color: #FCFCFF;
  --like-button-color: #FFB4A9;
  --cards-background-color: #595F66;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-header-color: #2B3137;
    --navigation-header-color: #45474A;
    --link-title-color: #FFFFFF;
    --link--current-color: #91CCFF;
    --sidelbar-title-color: #B8C8DA;
    --container-sidebar-color: #2B3137;
    --sidebar-item-color: #B8C8DA;
    --line-color: #41474D;
    --line-top-color: #161C22;
    --like-button-color: #FFB4A9;
    --cards-background-color: #595F66;
  }
}
:root {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 16px !important;
}

.bvg-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 24px !important;
}

.filled {
  font-variation-settings: "FILL" 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.component-container {
  margin: 0;
  padding: 12px;
}

.container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.cards-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(40px, 200px));
  gap: 16px 60px;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 230px;
}

.card {
  position: relative;
  width: 100%;
  border-radius: 10px;
  perspective: 3000px;
  cursor: pointer;
}
.card__content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  box-shadow: 0px 9px 15px 0px rgba(22, 28, 34, 0.25);
  border-radius: 10px;
}
.card__content__front, .card__content__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}
.card__content__front {
  background-color: var(--cards-background-color);
  border: 1px solid rgba(140, 145, 152, 0.5);
}
.card__content__back {
  background-color: white;
  transform: rotateY(180deg);
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  border-radius: 10px;
}
.card--flipped .card__content {
  transform: rotateY(180deg);
}
.card::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.card > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 750px) {
  .cards-wrapper {
    grid-template-columns: repeat(4, minmax(40px, 1fr));
    gap: 32px;
    padding: 0 28px 0 36px;
  }
}
@media (max-width: 450px) {
  .cards-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(60px, 200px));
    gap: 18px 72px;
    margin: 0 auto;
    padding: 0 28px 0 36px;
    min-width: 230px;
  }
}

/*# sourceMappingURL=cards-wrapper.css.map */
