@use "../../../assets/styles/colors.scss" as *;
@use "../../../assets/styles/main.scss" as *;

$color-background-1: #595f66;
$color-stroke-1: rgba(140, 145, 152, 0.5);
$card-shadow: 0px 9px 15px 0px rgba(22, 28, 34, 0.25);

.container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.cards-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(40px, 200px));
  gap: 16px 60px;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 230px;
}

.card {
  position: relative;
  width: 100%;
  border-radius: 20px;
  perspective: 3000px;
  cursor: pointer;

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    box-shadow: $card-shadow;
    border-radius: 10px;

    &__front,
    &__back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
    }

    &__front {
      background-color: var(--cards-background-color);
      border: 1px solid $color-stroke-1;
    }

    &__back {
      background-color: white;
      transform: rotateY(180deg);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    border-radius: 20px;
  }

  &--flipped &__content {
    transform: rotateY(180deg);
  }

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.card > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 750px) {
  .cards-wrapper {
    grid-template-columns: repeat(
      4,
      minmax(40px, 1fr)
    );
    gap: 32px;
    padding: 0 28px 0 36px;
  }

}

@media (max-width: 450px) {
  .cards-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(60px, 200px));
    gap: 18px 72px;
    margin: 0 auto;
    padding: 0 28px 0 36px;
    min-width: 230px;
  }



}
