@use "../../../assets/styles/colors.scss" as *;
@use "../../../assets/styles/main.scss" as *;

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px ;
  border-radius: 50%;
  overflow: hidden;

}
