<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./avatar-info.css" />
    <title>Avatars</title>
</head>
<body>
<h1>Avatars</h1>
<section class="avatar-info">
    <span class="avatar-info__title">
        Team Bugvengers
    </span>
    <div class="avatar">
        <img class="image" src="../../../assets/images/avatar.png" alt="avatar" />
    </div>
</section>
</body>
</html>
