@import url(../src/assets/icons/fonts/style.css);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(../src/assets/icons/fonts/style.css);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
:root {
  --main-header-color: #00639A;
  --navigation-header-color: #E7F2FF;
  --link-title-color: #41474D;
  --link--current-color: #00639A;
  --sidelbar-title-color: #41474D;
  --container-sidebar-color: #FCFCFF;
  --sidebar-item-color: #41474D;
  --line-right-color: #72777E;
  --line-top-color: #FCFCFF;
  --like-button-color: #BA1B1B;
  --cards-background-color: #51606F;
  --container-game-color: #F0F3F6;
  --container-game-footer: #FCFCFF ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-header-color: #2B3137;
    --navigation-header-color: #45474A;
    --link-title-color: #FFFFFF;
    --link--current-color: #91CCFF;
    --sidelbar-title-color: #B8C8DA;
    --container-sidebar-color: #2B3137;
    --sidebar-item-color: #B8C8DA;
    --line-right-color: #41474D;
    --line-top-color: #161C22;
    --like-button-color: #FFB4A9;
    --cards-background-color: #595F66;
    --container-game-color: #1A1C1E;
    --container-game-footer: #2B3137 ;
  }
}
:root {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 16px !important;
}

.bvg-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 24px !important;
}

.filled {
  font-variation-settings: "FILL" 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.component-container {
  margin: 0;
  padding: 12px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.avatar-info__title {
  color: #FFFFFF;
  font-size: 12px;
}

.bvg-btn-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 120px;
}

.bvg-btn__icon,
.bvg-btn__text {
  vertical-align: middle;
}

.bvg-btn {
  padding: 0 8px;
  box-sizing: border-box;
  width: fit-content;
  border: 0;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  transition-duration: 100ms;
  cursor: pointer;
  user-select: none;
}
.bvg-btn--medium {
  height: 32px;
  min-width: 32px;
}
.bvg-btn--large {
  height: 48px;
  min-width: 48px;
}
.bvg-btn--square {
  border-radius: 0;
}
.bvg-btn[disabled] {
  background-color: #f0f0f0 !important;
  color: #bdbdbd !important;
  cursor: default;
}
.bvg-btn:hover {
  color: #FBFCFF;
}
.bvg-btn:active {
  color: #E7F2FF;
}
.bvg-btn--compound {
  background-color: transparent;
  color: #FCFCFF;
}

.header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #FCFCFF;
}
.header-info__title {
  font-size: 11px;
  font-weight: 500;
}
.header-info__subtitle {
  font-size: 12px;
  font-weight: 400;
}
.header-info--text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header-info__logo {
  width: 42px;
  height: 43px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  white-space: nowrap;
  overflow: hidden;
}
.link:active {
  color: #00639A;
}
.link__logo {
  height: 32px;
}
.link__title {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--link-title-color);
}
.link__title--current {
  color: var(--link--current-color);
}

.backslash {
  color: var(--link-title-color);
}

:root {
  --main-header-color: #00639A;
  --navigation-header-color: #E7F2FF;
  --link-title-color: #41474D;
  --link--current-color: #00639A;
  --sidelbar-title-color: #41474D;
  --container-sidebar-color: #FCFCFF;
  --sidebar-item-color: #41474D;
  --line-right-color: #72777E;
  --line-top-color: #FCFCFF;
  --like-button-color: #BA1B1B;
  --cards-background-color: #51606F;
  --container-game-color: #F0F3F6;
  --container-game-footer: #FCFCFF ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-header-color: #2B3137;
    --navigation-header-color: #45474A;
    --link-title-color: #FFFFFF;
    --link--current-color: #91CCFF;
    --sidelbar-title-color: #B8C8DA;
    --container-sidebar-color: #2B3137;
    --sidebar-item-color: #B8C8DA;
    --line-right-color: #41474D;
    --line-top-color: #161C22;
    --like-button-color: #FFB4A9;
    --cards-background-color: #595F66;
    --container-game-color: #1A1C1E;
    --container-game-footer: #2B3137 ;
  }
}
:root {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 16px !important;
}

.bvg-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 24px !important;
}

.filled {
  font-variation-settings: "FILL" 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.component-container {
  margin: 0;
  padding: 12px;
}

.bvg-btn-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 120px;
}

.bvg-btn__icon,
.bvg-btn__text {
  vertical-align: middle;
}

.bvg-btn {
  padding: 0 8px;
  box-sizing: border-box;
  width: fit-content;
  border: 0;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  transition-duration: 100ms;
  cursor: pointer;
  user-select: none;
}

.bvg-btn--medium {
  height: 32px;
  min-width: 32px;
}

.bvg-btn--large {
  height: 48px;
  min-width: 48px;
}

.bvg-btn--square {
  border-radius: 0;
}

.bvg-btn[disabled] {
  background-color: #f0f0f0 !important;
  color: #bdbdbd !important;
  cursor: default;
}

.bvg-btn:hover {
  color: #FBFCFF;
}

.bvg-btn:active {
  color: #E7F2FF;
}

.bvg-btn--compound {
  background-color: transparent;
  color: #FCFCFF;
}


.main-header {
  box-sizing: border-box;
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: space-between;
  background-color: var(--main-header-color);
  padding: 10px 16px 10px 16px;
}
.main-header div {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}
.main-header__left {
  overflow: hidden;
}
.main-header__breadcrumb {
  margin-inline: 6px;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 6px;
}
.main-header__breadcrumb > .custom.link:last-child {
  display: inherit;
}

@media (max-width: 700px) {
  .main-header__breadcrumb > .custom.link,
  .main-header__breadcrumb > span {
    display: none;
  }
}
:root {
  --main-header-color: #00639A;
  --navigation-header-color: #E7F2FF;
  --link-title-color: #41474D;
  --link--current-color: #00639A;
  --sidelbar-title-color: #41474D;
  --container-sidebar-color: #FCFCFF;
  --sidebar-item-color: #41474D;
  --line-right-color: #72777E;
  --line-top-color: #FCFCFF;
  --like-button-color: #BA1B1B;
  --cards-background-color: #51606F;
  --container-game-color: #F0F3F6;
  --container-game-footer: #FCFCFF ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-header-color: #2B3137;
    --navigation-header-color: #45474A;
    --link-title-color: #FFFFFF;
    --link--current-color: #91CCFF;
    --sidelbar-title-color: #B8C8DA;
    --container-sidebar-color: #2B3137;
    --sidebar-item-color: #B8C8DA;
    --line-right-color: #41474D;
    --line-top-color: #161C22;
    --like-button-color: #FFB4A9;
    --cards-background-color: #595F66;
    --container-game-color: #1A1C1E;
    --container-game-footer: #2B3137 ;
  }
}
:root {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 16px !important;
}

.bvg-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 24px !important;
}

.filled {
  font-variation-settings: "FILL" 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.component-container {
  margin: 0;
  padding: 12px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  white-space: nowrap;
  overflow: hidden;
}

.link:active {
  color: #00639A;
}

.link__logo {
  height: 32px;
}

.link__title {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--link-title-color);
}

.link__title--current {
  color: var(--link--current-color);
}

.backslash {
  color: var(--link-title-color);
}


.navigation-header {
  box-sizing: border-box;
  display: flex;
  height: 52px;
  width: 100%;
  justify-content: flex-start;
  background-color: var(--navigation-header-color);
  padding: 16px;
  gap: 10px;
  align-items: center;
  overflow: hidden;
}

.bvg-sidebar {
  height: 100%;
  width: 100%;
}
.bvg-sidebar--title {
  width: auto;
  height: 36px;
  padding: 10px 16px 10px 16px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--sidelbar-title-color);
}
.bvg-sidebar--active {
  display: block;
}
.bvg-sidebar__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 44px;
  background-color: transparent;
  text-decoration: none;
  color: var(--sidebar-item-color);
  gap: 10px;
  padding: 10px 16px 10px 16px;
}
.bvg-sidebar__item .material-symbols-outlined {
  font-size: 24px !important;
}
.bvg-sidebar__item:hover .bvg-symbols-outlined, .bvg-sidebar__item[aria-selected=true] .bvg-symbols-outlined {
  font-variation-settings: "FILL" 1;
}
.bvg-sidebar__item:hover {
  color: #FFFFFF;
  background-color: #00639A;
  border-radius: 0 30px 30px 0;
}
.bvg-sidebar__item:active {
  background-color: #004A75;
}
.bvg-sidebar__item[aria-selected=true] {
  color: #FFFFFF;
  background-color: #00639A;
  border-radius: 0 30px 30px 0;
}
.bvg-sidebar__item[aria-selected=true]::after {
  position: absolute;
  content: "";
  background-color: #00639A;
  margin-left: 1px;
  width: 2px;
  height: 100%;
  left: 0;
}

.container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.cards-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(40px, 200px));
  gap: 16px 60px;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 230px;
}

.card {
  position: relative;
  width: 100%;
  border-radius: 10px;
  perspective: 3000px;
  cursor: pointer;
}
.card__content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  box-shadow: 0px 9px 15px 0px rgba(22, 28, 34, 0.25);
  border-radius: 10px;
}
.card__content__front, .card__content__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}
.card__content__front {
  background-color: var(--cards-background-color);
  border: 1px solid rgba(140, 145, 152, 0.5);
}
.card__content__back {
  background-color: white;
  transform: rotateY(180deg);
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  border-radius: 10px;
}
.card--flipped .card__content {
  transform: rotateY(180deg);
}
.card::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.card > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 750px) {
  .cards-wrapper {
    grid-template-columns: repeat(4, minmax(40px, 1fr));
    gap: 32px;
    padding: 0 28px 0 36px;
  }
}
@media (max-width: 450px) {
  .cards-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(60px, 200px));
    gap: 18px 72px;
    margin: 0 auto;
    padding: 0 28px 0 36px;
    min-width: 230px;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

.game {
  background-color: var(--container-game-color);
  width: 100%;
  border-radius: 8px;
  margin: auto;
  max-width: 1250px;
  box-shadow: 0 9px 15px 0 rgba(69, 71, 74, 0.2509803922);
  overflow: hidden;
  min-width: 350px;
}
.game__header {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.game__header__timer {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--sidelbar-title-color);
  gap: 10px;
}
.game__cards {
  width: 100%;
  height: fit-content;
  max-width: 1100px;
  margin: auto;
  padding: 0 36px 48px 36px;
  box-sizing: border-box;
}
.game__cards__content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.game__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--container-game-footer);
}
.game__footer__info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.game__footer__info__title {
  font-size: 1.4em;
  color: var(--link--current-color);
}
.game__footer__info__body {
  font-size: 0.7em;
  color: var(--sidelbar-title-color);
}
.game__footer__feedback {
  display: flex;
  gap: 16px;
  font-size: 0.87em;
}
.game__footer__feedback__like {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--like-button-color);
}
.game__footer__feedback__like__icon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.game__footer__feedback__dislike {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--sidelbar-title-color);
}
.game__footer__feedback__dislike__icon {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

@media (width < 750px) {
  .game__footer__feedback__like__label,
  .game__footer__feedback__dislike__label {
    display: none;
  }
  .game__cards {
    padding: 0 36px 24px 36px;
  }
}

/*# sourceMappingURL=componentStyles.css.map */
