@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
/* Primary */
:root {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 24px !important;
}

.filled {
  font-variation-settings: "FILL" 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.component-container {
  margin: 0;
  padding: 12px;
}

.bvg-btn-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 120px;
}

.bvg-btn__icon,
.bvg-btn__text {
  vertical-align: middle;
}

.bvg-btn {
  padding: 0 8px;
  box-sizing: border-box;
  width: fit-content;
  border: 0;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  transition-duration: 100ms;
  cursor: pointer;
  user-select: none;
}
.bvg-btn--medium {
  height: 32px;
  min-width: 32px;
}
.bvg-btn--large {
  height: 48px;
  min-width: 48px;
}
.bvg-btn--square {
  border-radius: 0;
}
.bvg-btn[disabled] {
  background-color: #f0f0f0 !important;
  color: #bdbdbd !important;
  cursor: default;
}
.bvg-btn:hover {
  color: #BBDEFB;
}
.bvg-btn:active {
  color: #90CAF9;
}
.bvg-btn--primary {
  background-color: #9A1919;
  color: #142127;
  border-color: #142127;
}
.bvg-btn--primary:hover {
  background-color: #142127;
}
.bvg-btn--primary:active {
  background-color: #142127;
}
.bvg-btn--danger {
  background-color: #142127;
  color: #142127;
  border-color: #142127;
}
.bvg-btn--danger:hover {
  background-color: #142127;
}
.bvg-btn--danger:active {
  background-color: #142127;
}
.bvg-btn--success {
  background-color: #142127;
  color: #142127;
  border-color: #142127;
}
.bvg-btn--success:hover {
  background-color: #142127;
}
.bvg-btn--success:active {
  background-color: #142127;
}
.bvg-btn--warning {
  background-color: #142127;
  color: #142127;
  border-color: #142127;
}
.bvg-btn--warning:hover {
  background-color: #142127;
}
.bvg-btn--warning:active {
  background-color: #142127;
}
.bvg-btn--secondary {
  border: 1px solid;
  background-color: #142127;
  color: #142127;
  border-color: #142127;
}
.bvg-btn--secondary:hover {
  background-color: #142127;
  color: #142127;
  border-color: #142127;
}
.bvg-btn--secondary:active {
  background-color: #142127;
  color: #142127;
  border-color: #142127;
}
.bvg-btn--subtle {
  background-color: #142127;
  color: #142127;
  border-color: #142127;
}
.bvg-btn--subtle:hover {
  background-color: #142127;
  color: #142127;
  border-color: #142127;
}
.bvg-btn--subtle:active {
  background-color: #142127;
  color: #142127;
  border-color: #142127;
}
.bvg-btn--compound {
  background-color: transparent;
  color: #FCFCFF;
}

.bvg-btn__icon--simple {
  box-sizing: border-box;
  width: fit-content;
  border: 0;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
  transition-duration: 100ms;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=button.css.map */
