<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./button.css"/>
    <title>button</title>
</head>
<body>
<section class="btn-list component-container">
    <h1>Buttons</h1>
    <section class="bvg-container">
        <button class="bvg-btn bvg-btn--medium bvg-btn--primary">
            <span class="bvg-symbols-outlined bvg-btn__icon">notifications</span>
            <span class="bvg-btn__text">Brand</span>
        </button>
        <button class="bvg-btn bvg-btn--medium bvg-btn--subtle">
            <span class="bvg-symbols-outlined bvg-btn__icon">notifications</span>
            <span class="bvg-btn__text">Subtle</span>
        </button>
        <button class="bvg-btn bvg-btn--medium bvg-btn--secondary">
            <span class="bvg-symbols-outlined bvg-btn__icon">notifications</span>
            <span class="bvg-btn__text">Secondary</span>
        </button>
        <button class="bvg-btn bvg-btn--medium bvg-btn--secondary" disabled>
            <span class="bvg-btn__icon bvg-symbols-outlined ">notifications</span>
            <span class="bvg-btn__text">Disabled</span>
        </button>
        <button class="bvg-btn bvg-btn--large bvg-btn--compound">
            <span class="bvg-btn__icon material-symbols-outlined">notifications</span>
        </button>

    </section>

</section>
</body>
</html>
