<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./header-info.css" />
    <title>Avatars</title>
</head>
<body>
<h1>Header-info</h1>
<section class="header-info">
    <img class="header-info__logo" src="../../../assets/images/logo.png" alt="logo" />
    <section class="header-info--text">
        <span class="header-info__title">
            Bootcamp 2024
        </span>
        <span class="header-info__subtitle">
            Web Front End Technologies
        </span>
    </section>
</section>
</body>
</html>
