<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="game-section.css" />
    <script defer src="../cards-wrapper/cards-wrapper.js"></script>
    <script type="module" src="/src/main.js"></script>
    <!-- icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="game">
        <header class="game__header">
          <section class="game__header__timer">
            <span class="game__header__timer__icon material-symbols-outlined">
              timer
            </span>
            <label id="time" class="game__header__timer__label"> 00:00 </label>
          </section>
        </header>
        <section class="game__cards">
          <div class="game__cards__content">
            <div class="cards-wrapper" id="cardsGrid">
              <!-- Cards will be inserted here -->
            </div>
          </div>
        </section>
        <footer class="game__footer">
          <section class="game__footer__info">
            <label for="" class="game__footer__info__title"
              >Equality Game</label
            >
            <label for="" class="game__footer__info__body"> @bugvengers </label>
          </section>
          <section class="game__footer__feedback">
            <button class="game__footer__feedback__like">
              <span
                class="game__footer__feedback__like__icon material-symbols-outlined"
              >
                favorite
              </span>
              <label for="" class="game__footer__feedback__like__label"
                >Me gusta</label
              >
            </button>
            <button class="game__footer__feedback__dislike">
              <span
                class="game__footer__feedback__dislike__icon material-symbols-outlined"
              >
                heart_broken
              </span>
              <label for="" class="game__footer__feedback__dislike__label"
                >No me gusta</label
              >
            </button>
          </section>
        </footer>
      </div>
    </div>
    <canvas class="confetti" id="confetti"></canvas>
  </body>
</html>
