<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./navigation-header.css" />
    <title>Navigation header</title>
</head>
<body>
<nav class="navigation-header">
            <span  class="link" title="Application Tracking System">
                <span class="link__title">Equality Game</span>
            </span>
    <span>/</span>
    <span class="link" id="current-title" >
                <span class="link__title--current">Frutas</span>
            </span>
</nav>

</body>
</html>
