@use "../../../assets/styles/colors.scss" as *;
@use "../../../assets/styles/main.scss" as *;
@use "../link/link.css" ;
.navigation-header{
  box-sizing: border-box;
  display: flex;
  height: 52px;
  width: 100%;
  justify-content: flex-start;
  background-color: $primary-95;
  padding: 16px;
  gap: 10px;

  align-items: center;
  overflow: hidden;
}