<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./main-header.css" />
  <title>Headers</title>
</head>
<body>
<nav class="main-header">
  <div class="main-header__left">
    <section>
      <button class="bvg-btn bvg-btn--large bvg-btn--square bvg-btn--compound" title="Menu">
        <span class="material-symbols-outlined">menu</span>
      </button>
    </section>
    <section class="main-header__breadcrumb">
      <section class="header-info">
        <img class="header-info__logo" src="../../../assets/images/logo.png" alt="logo" />
        <section class="header-info--text">
        <span class="header-info__title">
            Bootcamp 2024
        </span>
          <span class="header-info__subtitle">
            Web Front End Technologies
        </span>
        </section>
      </section>
    </section>
  </div>
  <div class="main-header__right">

    <section>
      <section class="avatar-info">
        <span class="avatar-info__title">
            Team Bugvengers
        </span>
        <div class="avatar">
          <img class="image" src="../../../assets/images/avatar.png" alt="avatar" />
        </div>
      </section>
    </section>
  </div>
</nav>
</body>
</html>
